.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 5px; /* Change arrow font size */
  color: #fefcfc; /* Change arrow color */
}

/* On hover styles for navigation arrows */
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #ffffff; /* Change arrow color on hover */
}